{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "module-alias", [
        {
          "src": "./server/auth",
          "expose": "server/auth"
        },
        {
          "src": "./server/store",
          "expose": "server/store"
        },
        {
          "src": "./server/config",
          "expose": "server/config"
        },
        {
          "src": "./server/errors",
          "expose": "server/errors"
        },
        {
          "src": "./server/graphql",
          "expose": "server/graphql"
        },
        {
          "src": "./server/middlewares",
          "expose": "server/middlewares"
        },
        {
          "src": "./server/utils",
          "expose": "server/utils"
        },
        {
          "src": "./server/IoC",
          "expose": "AppIoC"
        },
        {
          "src": "./server/bootstrap",
          "expose": "server/bootstrap"
        },
      ]
    ]
  ],
  "presets": [
    "es2015",
    "stage-0"
  ]
}
